body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4 {
  color: #2c3e50;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-3px);
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #2980b9;
}

input {
  padding: 5px 8px;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}



/* Responsividade */
@media (max-width: 600px) {
  .popup-content {
    width: 95%;
    padding: 15px;
  }
}





.hotel-image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* mantém proporção e preenche o card */
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
  .hotel-image {
    height: 150px;
  }
}
